<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Playstore apps</title>
</head>
<body>
    <h1>Search for apps</h1>

    <form action="/apps" method="get">
    
        <select name="category" id="category">
            {{#each category}}
                <option value="{{this}}">{{this}}</option>
            {{/each}}
        </select>

        <button type="submit" onclick="/apps">Search</button>
    
    </form>
    

</body>
</html>